body {
  background-color: lightgrey;
}

.adress {
  text-align: center;
  box-sizing: border-box;
  margin: 50px;
  padding: 50px;
  background-color: white;
  border-color: white;
  border-radius: 1px;
  box-shadow: 3ch;
  font-size: 1ch;
}
