/* ***NAVBAR*** */

* { 
    margin: 0px;
    padding: 0px;
    background-color: #e40404;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.nav-container {
    display: flex;
    justify-content: space-between;
    background-color: #e40404;
    align-items: center;
}

img {
    display: flex;
    padding: 1rem 2rem;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

li a  {
    display: flex;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.2rem;
}

.home {
    display: flex;
    background-color: #e40404;
    border-radius: 2rem;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 0px 5px 5px rgba(25, 25, 25, 0.247);
}

.home:hover {
    background-color: darkred;
    transition: .5s all ease;

}

.about {
    display: flex;
    background-color: #e40404;
    border-radius: 2rem; 
    margin: 1rem;
    padding: 1rem;
    box-shadow: 0px 5px 5px rgba(25, 25, 25, 0.247);
}

.about:hover {
    background-color: darkred;
    transition: .5s all ease;

}

.portfolio {
    display: flex;
    background-color: #e40404;
    border-radius: 2rem; 
    margin: 1rem;
    padding: 1rem;
    box-shadow: 0px 5px 5px rgba(25, 25, 25, 0.247);
}

.portfolio:hover {
    background-color: darkred;
    transition: .5s all ease;
    
}

.contact {
    display: flex;
    background-color: #e40404;
    border-radius: 2rem; 
    margin: 1rem;
    padding: 1rem;
    box-shadow: 0px 5px 5px rgba(25, 25, 25, 0.247);
}

.contact:hover {
    background-color: darkred;
    transition: .5s all ease;

}



/* ***ARTICLES***  */



.main-article {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    padding: 1rem;
    width: 100%; 
    height: 700px;  
}

.main-article > *:first-child {
    padding: 50px;
    background-color: #ffffff;
    border-radius: 2rem;
    box-shadow: 0px 5px 5px rgba(25, 25, 25, 0.247);
}

.main-article > *:last-child {
    padding: 50px;
    background-color: #ffffff;
    border-radius: 2rem;
    box-shadow: 0px 5px 5px rgba(25, 25, 25, 0.247);
}


.aside-text {
    display: flex;
    align-items: flex-end;
    background-color: rgb(245, 245, 245);
    color: rgb(255, 255, 255);
    margin: 1rem;
    padding: 1rem;
    width: 700px; 
    height: 700px;   
}

footer {
    display: center;
    width: 100%;
    bottom: 0;
    display: flex;
    background-color: #e40404;
    color: black;
}

footer li {
    color: rgb(255, 255, 255);
    padding: 1rem 2rem;

}

section {


    margin: 1rem;

}

