/* ***NAVBAR*** */

* { 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    background-color: rgb(245, 245, 245);
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

li a  {
    display: flex;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 2rem 3rem;
    font-size: 1.5rem;
    border-right: 1px solid red
}

li a:hover {
    color: #ffffff;
    background-color: red;
}

/* ***ARTICLES***  */

.main-article {
    flex-grow: 1;
    background-color: rgb(245, 245, 245);
    color: rgb(0, 0, 0);
    margin: 1rem;
    padding: 1rem;
}

.aside-text {
    display: black; 
    background-color: rgb(245, 245, 245);
    color: black;
    margin: 1rem;
    padding: 1rem;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    background-color: rgb(245, 245, 245);
    color: black;
    padding: 1rem;
}

footer li {
    color: black;
    margin: 0.5rem;
}

